html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--color-white);
  /* min-height: calc(100 * var(--vh)); */
}

::selection {
  background-color: var(--color-orange);
}