*,
:after,
:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font: inherit;
}

/* figure,
img,
video,
svg {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
} */
