body, p {
  font-family: 'D0', Arial, sans-serif;
  letter-spacing: .2px;
  font-size: 0.75rem;
  line-height: 1rem;
  @media (--s) {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

a {
  font-family: 'D0', Arial, sans-serif;
  letter-spacing: .2px;
  font-size: 0.75rem;
  line-height: 1rem;
  @media (--s) {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

h3 {
  letter-spacing: .2px;
  font-size: 24px;
  line-height: 30px;
  @media (--s) {
    font-size: 24px;
    line-height: 30px;
  }
}